/*pink but I want the page to change colors based on colorwheel*/
/* three wheels to cover buttons, text and background. the background will have to use 
alpha channel to modify lightness/opacity*/

html,body, #root, .App {
    height: 100%;
}

#body {
    background-color: #f3dbe4;
    height: 100%;

}