@tailwind base;
@tailwind components;
@tailwind utilities;

html,body, #root, .App {
    height: 100%;
}

#body {
    background-color: #f3dbe4;
    height: 100%;
}

#newPost {
    top: 43rem;
    left: 1rem;
    background-color: #9c27b0;
}